h1{
    background-color: chocolate;
    text-align: center;
    padding: 20px 0;
}

.large_box{
    padding: 20px 20px;
    border: dashed 5px black;
    border-radius: 20px;
}

.small_box{
    background-color: lightgray;
    margin: 20px 0;
    padding: 10px 0;
    padding-left: 15px;
}

.home_btn{
    width: 150px;
    height: 40px;
    /* padding-top: 10px; */
    border-radius: 15px;
    background-color: antiquewhite;
}

.home_btn02{
    text-decoration: none;
    color: black;
    background-color: aquamarine;
    padding: 5px 20px;
    border-radius: 15px;
}

.home_btn02:hover{
    background-color: aqua;
}

.home_btn a, .naver_btn a{
    text-decoration: none;
    color: black;
}

.btn_text{
    line-height: 40px;
    text-align: center;
    margin: 0 auto;
}

.home_btn:hover{
    background-color: tomato;
    cursor: pointer;
}

.naver_btn{
    width: 150px;
    height: 50px;
    /* background-color: antiquewhite; */
    border-top: 3px solid green;
    border-bottom: 3px solid green;
}

.naver_btn_text{
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 50px;
    color: green;
    font-size: 23px;
    font-weight: 800;
}

.naver_btn:hover{
    background-color: lemonchiffon;
}

.blog_link{
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    color: green;
    /* background-color: azure; */
}

.blog_link:hover{
    font-weight: bold;
    /* border-top: 3px solid green; */
    border-bottom: 3px solid green;
}